<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plot</title>

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Jaldi&family=Source+Sans+Pro:wght@300;600&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/homepage.css" />
    <link rel="stylesheet" href="/styles/contributions.css" />
    <link rel="stylesheet" href="/styles/story.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/upvote.js"></script>


  </head>
  <%- include('partials/_navbar') %>
  <body>
    <% for (let contribution of contributions) { %>
    <div class="contributions-card">
      <div class="container">
        <div class="user-icon">
          <i class="fa-sharp fa-solid fa-user"></i>
        </div>
        <span class="contributor"><%=contribution.username%></span>
      </div>
      <div class="contribution"><%=contribution.content%></div>
      <div class="approve-buttons">
        <button class="approve-button">Approve</button>
        <div class="wrapper">
          <% if(contribution.haslike) { %>
            <i id="upvote" contributionId="<%=contribution.contribution_id %>" contributionCount="<%=contribution.likes %>" class="fa-regular fa-thumbs-up dislike upvote"></i>
          <% } else { %>
            <i id="upvote" contributionId="<%=contribution.contribution_id %>" contributionCount="<%=contribution.likes %>" class="fa-regular fa-thumbs-up upvote"></i>
          <% } %>
          <div  class="contentCount"><%=contribution.likes ?? 0 %></div>
        </div>
      </div>
    </div>
    <% } %>
    <footer>
      <form>
        <input
          class="footer-back"
          type="button"
          value="Back"
          onclick="history.back()"
        />
      </form>
    </footer>
  </body>
</html>
